[submodule "themes/hugo-hello-programmer-theme"]
	path = themes/hugo-hello-programmer-theme
	url = https://github.com/drawline-design/hugo-hello-programmer-theme.git
[submodule "themes/whiteplain"]
	path = themes/whiteplain
	url = https://github.com/drawline-design/whiteplain.git
